#hero-section{
     min-height: 60vh;
    background: linear-gradient(135deg, #c303e4, #3703d483);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    padding: 4rem 1rem;
}
#hero-section h1{
 font-size: 3rem;
}
#hero-section p{
 font-size: 1.5rem;
}

@media screen and (min-width: 768px){

#hero-section h1{
 font-size: 5rem;
}
#hero-section p{
 font-size: 2rem;
}
}
